.block_contact {
  background: #ffdc60;
  padding: 14px 0;
}

.block_contact .block-title {
  text-align: center;
  padding: 5px 0;
}

.row_contact {
  margin-left: 10px;
  margin-bottom: 10px;
}

.form_section, .contactData_section {
  margin-top: 20px;
}

.block_contact a {
  text-decoration: none;
  color: #182b3a;
}

.contactData_item {
  margin-bottom: 20px;
  font-size: 19px;
}

.contactData--details {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  color: #182b3a;
}

.btn--submit {
  background: #182b3a;
  border-radius: 5px;
  border: 2px solid #182b3a;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 13px;
}
.btn--submit:hover {
  background: #ffdc60;
  border: 2px solid #182b3a;
  color: #182b3a;
  cursor: pointer;
}

.btn--submit:active {
  outline: 0;
  background: #ffdc60;
  border: 2px solid #182b3a;
  color: #182b3a;
}

.btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #182b3a;
  background-color: #ffdc60;
  border-color: #ffdc60;
  box-shadow: none;
}

form {
  width: 80%;
}

.form-control::-webkit-input-placeholder {
  color: black;
}

.form-control:-moz-placeholder {
  color: black;
}

.form-control::-moz-placeholder {
  color: black;
}

.form-control:-ms-input-placeholder {
  color: black;
}

.form-control::-ms-input-placeholder {
  color: black;
}

input#name {
  border: none;
  background: white;
  border: 2px solid #182b3a;
  border-radius: 5px;
  width: 49%;
  display: inline-block;
}
@media all and (max-width: 938px) {
  input#name {
    width: 100%;
  }
}

input#email {
  border: none;
  background: white;
  border: 2px solid #182b3a;
  border-radius: 5px;
  width: 49%;
  display: inline-block;
}
@media all and (max-width: 938px) {
  input#email {
    width: 100%;
    margin-top: 10px;
  }
}

textarea#message {
  border: none;
  background: white;
  border: 2px solid #182b3a;
  border-radius: 5px;
}

.shareSocial {
  list-style-type: none;
}

.shareSocial li {
  position: relative;
  display: inline-block;
}

.shareList {
  display: none;
  position: absolute;
  padding: 0;
  top: 100%;
}

.share:hover .shareList {
  display: block;
}

.share-item img {
  display: inline-block;
  width: 30px;
  height: auto;
}

li.share-item {
  width: 100%;
  margin: 7px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.block-title {
  font-weight: 700;
  line-height: 45px;
  font-size: 30px;
  letter-spacing: 2px;
}

.block-text {
  font-size: 19px;
}

* {
  margin: 0;
  padding: 0;
}

.overflow {
  overflow-x: hidden;
}

.row_social {
  background: #c1c1c1;
  padding: 10px 0;
}

.social_container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 5px 0;
}

.social_container_item {
  border-radius: 50%;
  margin: 0 20px;
}

.row_footer {
  background: #182b3a;
  padding-top: 20px;
  color: white;
}

.row_footer_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_text {
  text-align: left;
}

.footer_image {
  margin-bottom: 10px;
}

.row_copy {
  background: #0b141b;
  color: white;
}

.row_copy_column {
  margin-top: 19px;
  margin-left: 20px;
  margin-bottom: 19px;
}

ul.social_container {
  display: flex;
  justify-content: center;
  list-style: none;
}

.rrss a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #182b3a;
  display: inline-block;
  text-align: center;
  margin: 0 20px;
  color: #182b3a;
  font-size: 26px;
}
.rrss a:hover {
  border: 2px solid #ffdc60;
  background-color: #ffdc60;
}
