$color-primary: #ffdc60;
$color-secondary: #182b3a;
$color-tertiary: #2ec4b6;
$color-light: #f6f7f8;
$color-midtone: #c1c1c1;
$color-white: #ffffff;

$font-family:'Open Sans', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-height: 45px;
$font-height-medium: 10px;
