.row_social{
	background: $color-midtone;
	padding: 10px 0;
}
.social_container{
	display: flex;
	list-style-type: none;
	justify-content: center;
  margin: 5px 0;
}
.social_container_item{
	border-radius:50%;
	margin: 0 20px;
}
.row_footer{
	background: $color-secondary;
	padding-top: 10px;
	color: white;
}
.row_footer_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_text{
	text-align: center;
}
.footer_image {
    margin-bottom: 10px;
}
.row_copy{
		background:#0b141b;
		color: white;
}
.row_copy_column{
	margin-top: 20px;
  margin-left: 20px;
}
