.row_social{
	background: $color-midtone;
	padding: 6px 0;
	margin-left: 0;
    margin-right: 0
}
.social_container{
	display: flex;
	list-style-type: none;
	justify-content: center;
  margin: 5px 0;
}
.social_container_item{
	border-radius:50%;
	margin: 0 20px;
}
.row_footer{
	background: $color-secondary;
	padding-top: 20px;
	color: white;
	margin-left: 0;
  margin-right: 0
}
.row_footer_column {
	@include flexColumnCenter;
  @media all and (max-width:575px) {
		margin-bottom: 22px;
	}
}
.footer_text{
	text-align: left;
	font-size: 13px;
}
.footer_image {
  margin-bottom: 10px;
}
.row_copy{
	background:#0b141b;
	color: white;
	margin-left: 0;
  margin-right: 0
}
.row_copy_column{
	padding-top:10px;
	margin-bottom: 19px;
}
ul.social_container{
	display: flex;
	justify-content: center;
	list-style: none;
}
.rrss a{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 2px solid  $color-secondary;
	display: inline-block;
	text-align: center;
	margin: 0 20px;
	color:  $color-secondary;
	font-size: 26px;
	&:hover{
		border: 2px solid $color-primary;
		background-color: $color-primary;
		color:$color-secondary;
	}
}
small{
	font-size: 80%;
	@media all and (max-width:660px) {
		font-size: 75%;
	}
}
footer a {
	color: white;
	&:hover{
		color: $color-primary;
		text-decoration: none;
	}
}
