
.block_intro{
	background: $color-secondary;
  min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content-intro{
	display: flex;
	margin-top: -50px;
	margin-bottom: 10px;
}

.subtitle-intro {
	font-size: 20px;
}
.col-left-intro{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-left: 30px;
	height: auto;
	width: 60vw;
	position: relative;
	// Animación fotos movimiento desde la izq
	animation: mymove 2s;
}
@keyframes mymove {
  from {left: -400px;}
  to {left: 0px;}
}
.col-left-intro-hidden {
	display: none;
}
.col-right-intro{
	display: flex;
	position: relative;
	flex-direction: column;
	text-align: center;
	color: $color-light;
	margin-top: 50px;
}
.text-move{
	height: 40px;
	overflow: hidden;
	margin-top: 7px;
}
.checkbox-sentences{
	display: flex;
}
// ******************* LOGOS ***********************
.image_logo{
	height: 50px;
}
.intro-logo-top {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	width: 150px;
  height: 150px;
  background-color: $color-tertiary;
	border-radius: 50% 50% 50% 50%;
}
.intro-logo-center {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
  width: 150px;
  height: 150px;
  background-color: $color-white;
	border-radius: 50% 50% 50% 50%;
	margin-top: -50px;
}
.intro-logo-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	text-align: center;
  width: 150px;
  height: 150px;
  background-color: $color-primary;
	border-radius: 50% 50% 50% 50%;
}
.text-logo-bottom {
font-size: 16px;
width: 130px;
}
// *********************ANIMACIONES**************
// *************Animación del título****************
.title-animation {
  font-size:36px;
  color:#ecf0f1;
	display: flex;
	overflow: hidden;
	text-align: center;
	width: auto;
	margin: 0 auto;
  &:before {
    content:'[';
    line-height:47px;
  }
  &:after {
    content:']';
    line-height:47px;
  }
  &:after, &:before {
    color:#16a085;
    font-size:42px;
    animation:2s linear 0s normal none infinite opacity;
    -webkit-animation:2s ease-out 0s normal none infinite opacity;
    -moz-animation:2s ease-out 0s normal none infinite opacity;
    -o-animation:2s ease-out 0s normal none infinite opacity;
  }
}
.title-animation-visible {
	float:left;
  font-weight:600;
  overflow:hidden;
	margin-left: 10px;
	z-index: 100;
}
.title-animation-ul {
  margin-top:0;
  padding-left:110px;
	margin-left: -99px;
	margin-right: 10px;
  text-align:left;
  list-style:none;
  animation:6s linear 0s normal none infinite change;
  -webkit-animation:6s linear 0s normal none infinite change;
  -moz-animation:6s linear 0s normal none infinite change;
  -o-animation:6s linear 0s normal none infinite change;
	overflow: hidden;
	font-size: 36px;
	color: $color-primary;
	font-weight: bold;
}
.title-animation-ul li {
	margin: 0;
	height: 45px;
	margin-top: -6px;
}
@-webkit-keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}
@keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}
@-webkit-keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}
@keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}
// ***********Animación para tamaños pequeños******
.title-animation-hidden {
	display: none;
}
// **********Animación checks **********************
.exp {
  display: flex; // to center the item
  .checkbox {
    display: flex;
		padding-top:30px;
		justify-content: center;
    text-align: center;
		align-items: center;
  }
}
.block-text {
  display: inline-block;
  color: #fff;
  position: relative;
	.tick {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #fff;
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89);
	  &:before {
  	  content: "";
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: #fff;
      position: absolute;
      transform: rotate(45deg);
      top: 13px;
      left: 9px;
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }
    &:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px;
      background: #fff;
      position: absolute;
      transform: rotate(305deg);
      top: 16px;
      left: 10px;
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
  }
  &:hover {
    span {
      &:before {
        width: 5px;
        transition: width 100ms ease;
      }
      &:after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }
    }
  }
}
input[type="checkbox"] {
    display: none;
}
// ***************Fin animación checks************
// **************Mediaqueries***************
@media all and (max-width: 1235px) {
	.intro-logo-top {
		margin-left: 50px;
		width: 100px;
	  height: 100px;
	}
	.intro-logo-center {
	  width: 100px;
	  height: 100px;
		margin-top: -50px;
	  }
	.intro-logo-bottom {
	  width: 100px;
	  height: 100px;
	}
	.image_logo{
		height: 30px;
	}
	.text-logo-bottom {
	font-size: 11px;
	width: 130px;
	}
	.col-left-intro{
		margin-top: 120px;
		margin-left: 30px;
		height: auto;
		width: 60vw;
		// position: relative;
	}
}
@media all and (max-width: 1200px) {
	.title-animation {
	  font-size:30px;
	  &:before {
	    line-height:38px;
	  }
	  &:after {
	    line-height:38px;
	  }
	}
	.title-animation-ul {
		font-size: 30px;
	}
}
@media all and (max-width: 1038px) {
	.content-intro {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.col-left-intro{
		margin: 0px;
		width: 100vw;
		display: flex;
		flex-direction: row;
		order: 2;
		justify-content: center;
		text-align: center;
		margin-bottom: 50px;
	}
	.intro-logo-top {
		width: 70px;
	  height: 70px;
		margin: 0;
	}
	.intro-logo-center {
		margin-left: 20px;
		margin-right: 20px;
		width: 70px;
	  height: 70px;
	}
	.intro-logo-bottom {
		width: 70px;
	  height: 70px;
	}
	.text-logo-bottom {
	font-size: 8px;
	}
	.image_logo{
		height: 25px;
	}
}
@media all and (max-width: 710px) {
	.title-animation {
		display: none;
	}
	.title-animation-hidden {
		display: flex;
		font-size:24px;
	  color:#ecf0f1;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: -10px;
	}
	.title-animation-visible {
		float:left;
	  font-weight:600;
	  overflow:hidden;
		margin-left: 10px;
		z-index: 100;
	}
	.title-second-part {
	  text-align:center;
	  height: 70vh;
	  animation:none;
		// overflow: hidden;
		font-size: 26px;
		color: $color-primary;
		font-weight: bold;
		&:before {
    	content:'[ ';
		  line-height:0px;
  	}
  	&:after {
    	content:' ]';
    	line-height:0px;
  	}
	  &:after, &:before {
	    color:#16a085;
	    font-size:36px;
	    animation:2s linear 0s normal none infinite opacity;
	    -webkit-animation:2s ease-out 0s normal none infinite opacity;
	    -moz-animation:2s ease-out 0s normal none infinite opacity;
	    -o-animation:2s ease-out 0s normal none infinite opacity;
	  }
	}
	.subtitle-intro {
		font-size: 17px;
		font-weight: bold;
		margin-top: 10px;
	}
	.checkbox-sentences p{
		font-size: 14px;
	}
	.exp {
	  display: flex; // to center the item
	  .checkbox {
	    display: flex;
			padding-top:30px;
			justify-content: center;
	    text-align: center;
			align-items: center;
	  }
	}
	.block-text {
    .tick {
      display: none;
	  }
	}
}

@media all and (max-width: 239px) {
	.col-left-intro{
		display: none;
	}
}
