.block__data{
	background-color: $color-light;
	position: relative;
	height: 100%;
	padding-top: 78px;
}
.dataTitle1{
	line-height: inherit;
	text-align: center;
	margin-top: 10px;
}
.dataParagraph{
	line-height: $font-height;
	font-size: 19px;
	line-height: inherit;
	text-align: center;
}
.dataParagraph2{
	line-height: $font-height;
	font-size: 17px;
	line-height: inherit;
	text-align: left;
	margin-left: 20px;
	list-style-type: none;
}
.iconData{
	color: $color-tertiary
}
.explainClick{
	font-size: 14px;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 0px;
}
.containerParagraphDuplic{
	display: none;
}
.man{
	color: $color-secondary;
	font-weight: bolder;
}
.woman{
	color: $color-tertiary;
	font-weight: bolder;
}
.dataPhoto{
	display: none;
	height: 160px;
}
.explainData{
		font-size: 10px;
}
#chartdiv{
	width: 100%;
	height: 250px;
}
.amcharts-chart-div > a {
  /*left: 115px !important;
  top:55px !important;*/
  opacity: .2 !important;
	margin-left: 10%;
}
#chartdivTwo{
	width: 100%;
	height: 250px;
	display: none;
}
.containerCheck {
  padding: 10px;
	vertical-align: center;
	/*border-style: double;
	border-width: 4px;*/
	height: fit-content;
	margin-left: 25px;
	padding: 3px 10px;
  border:grey 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.changeText{
	font-size: 13px;
}
.ui-radio {
    display: none;
}
.ui-radio + label{
  position: relative;
  padding-left: 30px;
  display: inline-block;
}
.ui-radio + label:before {
  background-color: #fff;
  border: 2px solid $color-secondary;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  content: ' ';
  width: 20px;
  height: 20px;
  top:0px;
  left:0px;
}

.ui-radio:checked + label:after {
  content: ' ';
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  background: #0d3632;
  top: 5px;
  left: 5px;
}
.ui-radio:checked + label:before {
  color: #99a1a7;
  border: 2px solid $color-secondary;
}
@media all and (min-width:768px) {
	.containerParagraph{
		display: none;
	}
	.containerParagraphDuplic{
		display: block;
		margin-top: 50px;
	}
	.containerCheck{
		margin-top: 28px;
		margin-left: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		background: #f6f7f8;
		border: 2px solid #182b3a;
		border-top-left-radius: 0px;
	  border-bottom-right-radius: 0px;
	}
	.containerTitle2{
		padding-left: 35px;
		padding-bottom: 20px;
	}
	.containerCheck:after, .containerCheck:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border: 2px solid #182b3a;
	}
	.containerCheck:after {
		border-color: rgba(193, 193, 193, 0);
		border-right-color: #f6f7f8;
		border-width: 30px;
		margin-top: -30px;
	}
	.containerCheck:before {
		border-color: rgba(24, 43, 58, 0);
		border-right-color: #182b3a;
		border-width: 36px;
		margin-top: -36px;
	}
	.containerGraphicB{
		margin: 0px;
		padding: 0px;
	}
	.dataPhoto{
		display: block;
	}
	.containerText{
		/*background-image: url(../img/imgdata8.jpg);*/
		background: linear-gradient(to bottom right,#f6f7f8 40%, rgba(255,0,0,0)),
		 url(../img/imgdata13.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
		margin-bottom: -23px;
		height: 40%;
		padding-bottom: 20px;
	}
	.ContainerNumbers{
		height: 60%;
	}
	.changeText{
		font-size: 12px;
		padding-left: 10px;
	}
}
