.block_contact{
	background: $color-primary;
	padding: 14px 25px;
}

.block_contact .block-title{
	text-align: center;
	padding: 5px 0;
}

.row_contact{
	margin-left: 10px;
	margin-bottom: 10px;
}

.form_section, .contactData_section{
margin-top: 20px;
}

.block_contact a{
	text-decoration: none;
	color: $color-secondary;;
}
.contactData_item{
	margin-bottom: 20px;
	font-size: 19px;
}

.contactData--details{
	text-transform: uppercase;
	letter-spacing:1px;
	font-size: 14px;
	font-weight: $font-weight-bold;
	color: $color-secondary;
}
