
.block_intro{
	background: $color-secondary;
	padding: 14px 25px;
  height: auto;
	display: flex;
	flex-direction: column;
}

.content-intro{
	display: flex;
}

.col-left-intro{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 70px;
	width: 60vw;
	// background-color: cyan;
}

.col-right-intro{
	display: flex;
	position: relative;
	flex-direction: column;
	text-align: center;
	color: $color-light;
	margin-top: 50px;
}

.text-move{
	height: 40px;
	overflow: hidden;
	margin-top: 7px;
}

// **************************************** LOGOS ******************************************

.image_logo{
	height: 50px;
}

.intro-logo-top {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	margin-top: 15px;
  width: 150px;
  height: 150px;
  background-color: $color-tertiary;
	border-radius: 50% 50% 50% 50%;
}


.intro-logo-center {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
  width: 150px;
  height: 150px;
  background-color: $color-light;
	border-radius: 50% 50% 50% 50%;
  }


.intro-logo-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	text-align: center;
  width: 150px;
  height: 150px;
  background-color: $color-primary;
	border-radius: 50% 50% 50% 50%;
}

// **********************************ANIMACIONES************************************************

// ***************Animación del título************************

.title-animation {
  font-size:36px;
  color:#ecf0f1;
	display: flex;
	overflow: hidden;
	text-align: center;
	width: auto;
	margin: 0 auto;
  &:before {
    content:'[';
    line-height:47px;
  }
  &:after {
    content:']';
    line-height:47px;
  }
  &:after, &:before {
    color:#16a085;
    font-size:42px;
    animation:2s linear 0s normal none infinite opacity;
    -webkit-animation:2s ease-out 0s normal none infinite opacity;
    -moz-animation:2s ease-out 0s normal none infinite opacity;
    -o-animation:2s ease-out 0s normal none infinite opacity;
  }
}


.title-animation-visible {
		float:left;
	  font-weight:600;
	  overflow:hidden;
		margin-left: 10px;
		z-index: 100;
}


.title-animation-ul {
  margin-top:0;
  padding-left:110px;
	margin-left: -99px;
	margin-right: 10px;
  text-align:left;
  list-style:none;
  animation:6s linear 0s normal none infinite change;
  -webkit-animation:6s linear 0s normal none infinite change;
  -moz-animation:6s linear 0s normal none infinite change;
  -o-animation:6s linear 0s normal none infinite change;
	overflow: hidden;
	font-size: 36px;
	color: $color-primary;
	font-weight: bold;
	}

.title-animation-ul li {
  margin:0;
	line-height:40px;
	height: 40px;
}

@-webkit-keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}
@keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}
@keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}

	// ********************************Animación checks***************************************

.exp {
  display: flex; // to center the item


  .checkbox {
    display: flex;
    // width: 100%;
    height: 50vh;
		justify-content: center;
    text-align: center;
		align-items: center;
		margin-top: 10px;
		// background-color: pink;
  }
}

label {
    display: inline-block; // to make it easier to click
    color: #fff;
    cursor: pointer;
    position: relative; // important
    // Now we'll create the checkbox object

    span {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 25px;
      height: 25px;
      transform-origin: center;
      border: 2px solid #fff;
      border-radius: 50%;
      vertical-align: -6px;
      margin-right: 10px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89); // custom ease effect for bouncy animation

  // Now we'll create the "tick" using pseudo elements - those will be basically two lines that will be rotated to form the "tick"

    &:before {
      content: "";
      width: 0px;
      height: 2px;
      border-radius: 2px; // so that the tick has nice rounded look
      background: #fff;
      position: absolute;
      transform: rotate(45deg);
      top: 13px; // you'll need to experiment with placement depending on the dimensions you've chosen
      left: 9px; // you'll need to experiment with placement depending on the dimensions you've chosen
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

    &:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px; // so that the tick has nice rounded look
      background: #fff;
      position: absolute;
      transform: rotate(305deg);
      top: 16px; // you'll need to experiment with placement depending on the dimensions you've chosen
      left: 10px; // you'll need to experiment with placement depending on the dimensions you've chosen
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
  }
  // Time to add some life to it

  &:hover {
    span {
      &:before {
        width: 5px;
        transition: width 100ms ease;
      }

      &:after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }
    }
  }
}

input[type="checkbox"] {
    display: none; // hide the system checkbox

  // Let's add some effects after the checkbox is checked

  &:checked {
    + label {
      span {
        background-color: #fff;
        transform: scale(1.25); // enlarge the box

        &:after {
          width: 10px;
          background: #1790b5;
          transition: width 150ms ease 100ms; // enlarge the tick
        }

        &:before {
          width: 5px;
          background: #1790b5;
          transition: width 150ms ease 100ms; // enlarge the tick
        }
      }

      &:hover { // copy the states for onMouseOver to avoid flickering
        span {
          background-color: #fff;
          transform: scale(1.25); // enlarge the box

          &:after {
            width: 10px;
            background: #1790b5;
            transition: width 150ms ease 100ms; // enlarge the tick
          }

          &:before {
            width: 5px;
            background: #1790b5;
            transition: width 150ms ease 100ms; // enlarge the tick
          }
        }
      }
    }
  }
}
// *****************************Fin animación checks**********************************
