.btn{
	font-weight: $font-weight-bold;
	letter-spacing: 2px;
	font-size: 13px;
	border-radius: 5px;
	cursor: pointer;
	margin: 5px;
}
.btn:focus {
  outline: 0;
  box-shadow:none;
}
.block-butons{
	text-align: center;
}
/*boton formulario*/
.btn--submit{
	background: $color-secondary;
	color: $color-white;
	border:2px solid $color-secondary;
	font-weight: $font-weight-bold;
	&:hover{
		background: $color-primary;
		border:2px solid $color-secondary;
		color: $color-secondary;
	}
}
.btn--submit:active{
	outline: 0;
	background: $color-primary;
	border:2px solid $color-secondary;
	color: $color-secondary;
}
/*contenedor de botones*/
.buttons-container{
	padding: 5px 0;
	display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
/*boton más información*/
.btn--info, .btn--yellow {
	background: $color-primary;
	color:$color-secondary;
	border:2px solid $color-secondary;
	font-weight: $font-weight-bold;
	&:hover{
		background: $color-secondary;
		border:2px solid $color-secondary;
		color: $color-white;
	}
}
// botón más información 2 - sobre azul
.btn--info2, .btn--yellow2 {
	background: $color-primary;
	color:$color-secondary;
	border:2px solid $color-secondary;
	font-weight: $font-weight-bold;
	&:hover{
		background: transparent;
		border:2px solid $color-primary;
		color: $color-primary;
	}
}
/*botón llámanos*/
.btn--call, .btn--aqua {
	background: $color-tertiary;
	color: $color-white;
	border:2px solid $color-tertiary;
	font-weight: $font-weight-bold;
	&:hover{
		background: $color-midtone;
		border:2px solid $color-midtone;
		color: $color-secondary;
	}
}
// botón llámanos 2 - sobre fondo azul
.btn--call2, .btn--aqua2 {
	background: $color-tertiary;
	color:white;
	border:2px solid $color-tertiary;
	font-weight: $font-weight-bold;
	&:hover{
		background: transparent;
		border:2px solid $color-tertiary;
		color: $color-tertiary;
	}
}
/*botón compartir curso*/
.btn--share, .btn--transparent{
	background: transparent;
	color:$color-secondary;
	border:2px solid $color-secondary;
	font-weight: $font-weight-bold;
	&:hover{
		background: $color-secondary;
		border:2px solid $color-secondary;
		color: $color-white;
	}
}
/*botón para fondos oscuros*/
.btn--yellow--back-dark {
	background: $color-primary;
	color:$color-secondary;
	font-weight: $font-weight-bold;
	&:hover{
		background: $color-tertiary;
		color: $color-white;
		font-weight: $font-weight-bold;
	}
}
.btn--cookies{
	padding:2px 10px;
	border:none;
	background:#aaa;
	cursor:pointer;
}
// botón compartir curso 2 - sobre fondo azul
.btn--share2, .btn--transparent2{
	background: transparent;
	color:$color-light;
	border:2px solid $color-light;
	font-weight: $font-weight-bold;
	&:hover{
		background: $color-light;
		border:2px solid $color-secondary;
		color: $color-secondary;
	}
}
