.form-section{
	margin-top:10px;
}
.form-control {
  display: block;
  padding: 0.2rem 0.5rem;
  @media all and (max-width:872px) {
    font-size: 0.8rem;
  }
}
.form-control:focus	 {
  border:none;
}
form{
	width: 80%;
	margin-bottom: 12px;
}
.form-control::-webkit-input-placeholder { color: black; }
.form-control:-moz-placeholder { color: black; }
.form-control::-moz-placeholder { color: black; }
.form-control:-ms-input-placeholder { color: black; }
.form-control::-ms-input-placeholder { color: black; }

input#name {
  border: none;
  background: white;
  border: 2px solid #182b3a;
  border-radius: 5px;
	width: 49%;
	display: inline-block;
}
input#email {
  border: none;
  background: white;
  border: 2px solid #182b3a;
  border-radius: 5px;
	width: 49%;
	display: inline-block;
}
input#name {
  border: none;
 	background: white;
	border: 2px solid #182b3a;
	border-radius: 5px;
	width: 49%;
  display: inline-block;
	@media all and (max-width:938px) {
		width: 100%;
	}
}
input#email {
  border: none;
  background: white;
  border: 2px solid #182b3a;
  border-radius: 5px;
	width: 49%;
	display: inline-block;
	@media all and (max-width:938px) {
		width: 100%;
		margin-top:10px;
	}
}
textarea#message {
	border:none;
  background: white;
  border: 2px solid #182b3a;
  border-radius: 5px;
}
