// Variables:
// $color-primary: #ffdc60;
// $color-secondary: #182b3a;
// $color-tertiary: #2ec4b6;
// $color-light: #f6f7f8;
// $color-midtone: #c1c1c1;
//
// $font-family:'Open Sans', sans-serif;
// $font-weight-normal: 400;
// $font-weight-bold: 700;
// $font-height: 45px;


.block_header {
	background-color: #ffdc60;
	background-image: url("../img/hero-cover.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.block_header_title {
	padding: 0;
	text-align: center;
	color: $color-secondary;
}

.block_header_title-fmp {
	background: rgba($color-light, 0.4);
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid $color-midtone;
	margin: 3vh 0 0 0;
	@media (min-width: 768px){
		margin: 12vh 40% 0 0;
	}
	@media (min-width: 1280px){
		margin: 12vh 40% 0 0;
	}
}
// .block_header_title-h2 {
// 	position: absolute;
// 	background: rgba($color-primary, 0.9);
// }
.block_header_title-new-curse {
	border-radius: 5px;
	border: 1px solid $color-midtone;
	background: rgba($color-primary, 0.9);
	// top: 67vh;
	// @media (min-width: 768px){
	// 	top: 30vh;
	// }
	// @media (min-width: 1280px){
	// 	top: 30vh;
	// }
	right: -100%;
	.page_load & {
		right: 0;
		// margin-right: 20%;
	}
	transition: right ease 2s;
}
.block_header_title-h2-div{
	height: 302.25px;
	width: 302.25px;
	text-align: center;
	position: absolute;
	background-image: url("../img/star.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	// top: 50vh;
	// @media (min-width: 768px){
	// 	top: 50vh;
	// }
	// @media (min-width: 1280px){
	// 	top: 50vh;
	// }
	left: -300px;
	margin-left: 0;
	.page_load & {
		left: 0;
		@media (min-width: 768px){
			margin-left: 50%;
		}
		@media (min-width: 1280px){
			margin-left: 60%;
		}
	}
	transition: margin-left ease 2s, left ease 1s;
}
.block_header_title-employ {
	margin-top: 35%;
}
