#scroll-down-container {
	text-align: center;
	p {
	color:white;
	margin: 0;
	}
}
.prueba_scroll{
	position:absolute;
	bottom:5%;
	left:50%;
}

.prueba_scroll a{
	text-decoration: none;
}

.arrow {
	display: inline-block;
	background-color: red;
	border-radius: 10px;
	width:30px;
	height:4px;
	position: relative;
	top: 10px;
	left: 10px;
}

#point1 {
	transform-origin: 0% 50%;
	animation: anim1 .5s ease infinite alternate;
}

#point2 {
	transform-origin: 100% 50%;
	animation: anim2 .5s ease infinite alternate;
}

@keyframes anim1 {
	from {transform: translateX(7px) rotate(30deg);}
	to {transform: translateX(4px) rotate(10deg);}
}

@keyframes anim2 {
	from {transform: translateX(-7px) rotate(-30deg);}
	to {transform: translateX(-4px) rotate(-10deg);}
}

a{
	text-decoration: none;
}
