ul.shareList, ul.shareSocial{
	margin-bottom:0;
}

.shareSocial{
	list-style-type: none;
}

.shareSocial li{
	position:relative;
	display: inline-block;
}

.shareList {
	display: none;
	position: absolute;
  padding: 0;
	top:100%;
	text-align: left;
}
.shareList li {
	display: inline;
	top:5px;
	left:0;
	right:0;
}

.share:hover .shareList{
	display: block;
}

.share-item img{
	display:inline-block;
	width: 26px;
	height: auto;
}

.share-item a{
	text-decoration: none;
}

li.share-item {
  width: 100%;
	margin-left: 10px;
	margin-right: 5px;
}
