@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body{
	font-family: $font-family;
}
a{text-decoration: none;}
.block-title-h1 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.3em;
	font-size: 3em;
	font-weight: 900;
	@media all and (min-width: 768px) {
		line-height: 1.3em;
		font-size: 5em;
	}
}
.block_header-title {
	text-align: right;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3em;
	font-size: 1.4em;
	font-weight: 900;
	@media all and (min-width: 768px) {
		line-height: 1.4em;
		font-size: 2em;
	}
	@media all and (min-width: 1280px) {
		font-size: 2.5em;
	}
}
.block_header_title-2 {
	margin: 0;
	font-size: 1.6em;
	@media all and (min-width: 768px) {
		font-size: 2.5em;
	}
	@media all and (min-width: 1280px) {
		font-size: 3em;
	}
}
.block-title{
	font-weight: $font-weight-bold;
	line-height: $font-height;
	font-size: 28px;
	letter-spacing: 2px;
	@media all and (max-width:660px) {
		line-height: 41px;
    font-size: 21px;
	}
}
.block-subtitle {
	font-size: 18px;
	font-weight: $font-weight-bold;
}
.block-text{
	font-size: 19px;
}
.inside-text{
	font-size: 19px;
	color: black;
}
